@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
* {
    box-sizing: border-box;
    color: #fbfafc;
    padding: 0;
    margin: 0px;
}

body{
    background-color: rgb(0, 0, 0);
    font-family: "Poppins", sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    display: flex;
    height: 90px;
    justify-content: space-between;
	background: #308ec4;
    align-items: center;
    padding: 2px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a ul{
    font-weight: 600;
    padding-right: 10px;
    color: #fdfdfd;

}

.logo {
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

nav a :hover{
	color: #000000;
}


/* Footer */
footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
}

.footer-distribucion {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distribucion .footer-izquierda, .footer-distribucion .footer-centro, .footer-distribucion .footer-derecha {
    display: inline-block;
    vertical-align: top;
}

/* Footer Izquierda */

.footer-distribucion .footer-izquierda {
    width: 30%;
}

.footer-distribucion h3 {
    color: #020202;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distribucion h3 span {
    color: #e0ac1c;
}

/* Footer Enlaces */

.footer-distribucion .footer-enlaces {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distribucion .footer-enlaces a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distribucion .footer-nombre {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Centro */

.footer-distribucion .footer-centro {
    width: 35%;
}

.footer-distribucion .footer-centro i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distribucion .footer-centro i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distribucion .footer-centro p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distribucion .footer-centro p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distribucion .footer-centro p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

/* Footer Derecha */

.footer-distribucion .footer-derecha {
    width: 30%;
}

.footer-distribucion .footer-nombre-informacion {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distribucion .footer-nombre-informacion span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distribucion .footer-iconos {
    margin-top: 25px;
}

.footer-distribucion .footer-iconos a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #000000;
    border-radius: 2px;
    font-size: 20px;
    color: #ff0000;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distribucion .footer-iconos a:hover {
    background-color: #3F71EA;
}

.footer-enlaces a:hover {
    color: #fdfdfd;
}

@media (max-width: 880px) {
    .footer-distribucion .footer-izquierda, .footer-distribucion .footer-centro, .footer-distribucion .footer-derecha {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distribucion .footer-centro i {
        margin-left: 0;
    }
}       
        
/* Card de Tarjetas */
.contenedor{
    display: flex;
    justify-content: center;
    margin: 40px 0;
    max-width: 90%;
    margin: auto;
    margin-top: 20px;
}

.contenedor-cuadros{
    background:  rgba(0, 247, 226, 0.979);
    box-shadow: 0 1rem 6rem rgb(0, 255, 234);
    height: 600px;
    width: 250px;
    margin: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s;
}

.pic{ 
    width: 250px;
    height: 350px;
    position: relative;
    object-fit: cover;

}

.informacion{
    padding: 5px;
    height: 5px;
}

.texto-1{
    margin: 10px 20px;
    padding: 5px 0;
    text-align:center;
}


.texto-2{
    margin: 10px 20px;
    padding: 5px 0;
    text-align:justify;
}


.btn{
    margin: 10px 0;
    text-align: center;
}

.btn-1{
   height: 40px;
   width: 100px;
   font-size: 17px;
   transition: .4s all;
   background: none;
   outline: none;
}

.contenedor-cuadros:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgb(0, 0, 0);
  }

  :root {
    --cfondo: rgb(207, 211, 212);
    --cfondoForm1: rgba(1, 80, 88, 0.39);
    --cfondoForm2: rgb(129, 193, 202);
    --cnegro: black;
    --ctexto: rgb(14, 81, 88);
    --ctextoDark: rgb(1, 35, 39);
    --cblanco: white;
    --error: rgb(184, 31, 31);
  }
  
  [type="checkbox"] {
    display: none;
  }
  
  [type="checkbox"]:checked + label::before {
    background: var(--cnegro);
    transition: 0.5s;
    transform: rotate(180deg);
  }
  
  [type="checkbox"]:checked + label {
    color: var(--cnegro);
  }
  
  /* ---- FORMULARIO ---- */

.form {
    /* border: 3px solid green; */
    border-top: 2px solid var(--cnegro);
    max-width: 400px;
    padding: 30px 50px;
    margin: auto;
    margin-top: 10px;
    background: linear-gradient(
      0deg,
      var(--cfondoForm1) 0%,
      var(--cfondoForm2) 50%
    );
  }
  
  .form-titulo {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    letter-spacing: 3px;
  }
  
  .form-input {
    margin-bottom: 30px;
  }
  
  .form-input label {
    display: block;
    margin-top: 10px;
    font-size: 15px;
    color: var(--ctexto);
  }
  
  .form-input input {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid var(--ctexto);
  }
  
  .form-input input:focus + label {
    font-weight: bold;
    color: var(--cnegro);
  }
  
  .form-termsAndConditions {
    margin-left: 15px;
    position: relative;
    color: var(--ctexto);
    font-size: 13px;
  }
  
  .form-termsAndConditions label::before {
    content: "";
    width: 8px;
    height: 8px;
    border: 1px solid var(--cnegro);
    position: absolute;
    left: -14px;
  }
  
  .form-boton input {
    background: var(--cnegro);
    color: var(--cblanco);
    padding: 10px 50px;
    font-size: 25px;
    display: block;
    margin: auto;
    margin-top: 40px;
    border: none;
  }
  
  .form-boton input:hover {
    background: var(--ctextoDark);
    transition: 0.5s;
  }
  
  .mensajeError {
    color: var(--error);
    margin-top: 0px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .mensajeCorrecto {
    text-align: center;
    font-weight: bold;
  }

  